.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.App {
  text-align: center;
}

html{
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 51, 51);
}
*{
  font-family: Mulish,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}